<?xml version="1.0"?>

<model>
  <name>Linoleum Plane</name>
  <version>1.0</version>
  <!--<sdf version="1.4">model-1_4.sdf</sdf>-->
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Omicron</name>
    <email>kuramin.dmitry@gmail.com</email>
  </author>

  <description>
    A linoleum textured plane.
  </description>

</model>
